{% extends "tictac/layout.html" %}
{% load static %}

{% block body %}
Loading...
{% endblock %}

{% block script %}
<script type="text/babel" src="{%static 'tictac/Leaderboard.jsx' %}"></script>
<script type="text/babel" src="{%static 'tictac/utils.js' %}"></script>
<script type="text/babel">
    class App extends React.Component {
        render() {
            return (
                <Leaderboard />
            );
        }
    }
    ReactDOM.render(<App />, document.querySelector("main"));
</script>
{% endblock %}